.bg{
	background-color: #aec6cf;
	padding:100px 100px 0px 100px;
}

.house{
	background-color: white;
	position:relative;
	bottom:0px;
	margin:0auto;
	text-align: center;
	list-style-position: inside;
}
