.bg{
	background-color: black;
	color:white;
	position: fixed;
	word-wrap: break-word;



}

.house{
	background-color: white;
	position:absolute;

	width:15em;

	color:black;
}

.hspot{
	padding-top: 17em;
	padding-left:50%;
	position: relative;
}

